
<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>field</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row"  *ngFor="let data of datafield" (click)="clickfield(data.id_field)">
      <div class="col-12">
        <table class="table table-image">
          <thead>
          <tr>
<!--            <th scope="col">Day</th>-->
            <th scope="col">รูปภาพ</th>
            <th scope="col">ชื่อสนาม</th>
            <th scope="col">ราคา/ชม.</th>
          </tr>
          </thead>

          <tbody>
          <tr>
<!--            <th scope="row">1</th>-->
            <td>
              <img *ngIf="data.picture_picturefield == null" style="height: 200px;width: 300px" src="assets/img/noimage.png" [alt]="data.name_field">
                <img *ngIf="data.picture_picturefield != null" style="height: 200px;width: 300px" src="data:image/png;base64,{{data.picture_picturefield}}" [alt]="data.name_field">
            </td>
            <td>{{data.name_field}}</td>
            <td>{{data.price_field}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</ion-content>
