<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<ion-header class="background" style="font-family: 'Sarabun', sans-serif;">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title  style="font-family: 'Sarabun', sans-serif;">แก้ไขข้อมูลร้าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" style="font-family: 'Sarabun', sans-serif;">
  <div class="ion-padding sizeimage centeredit" style="">
    <img src="assets/img/noimage.png" class="rounded" alt="...">
  </div>

  <div  class="centerbutton">
    <button type="button" (click)="selectImage()" class="btn btn-link"><ion-icon name="camera-outline"></ion-icon>เพิ่มรูปภาพ</button>
  </div>
  <div class="padding">
  <label>ชื่อร้าน</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">

    </div>
    <input type="text" class="form-control" value="ร้าน ฟุตบอลหญ้าเทียมFootball" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <label>ทึ่อยู่</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">

    </div>
    <div>
      <ion-item>
        <ion-label>Select: province</ion-label>
        <ion-select class="custom-options" [(ngModel)]="mySelectprovince" (ionChange)="selectedprovincemethod(mySelectprovince)">
          <ion-select-option  *ngFor="let province of this.selectedprovince "
                              value="{{province.id}}"> {{province.name_th}} </ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Select: amphures</ion-label>
        <ion-select class="custom-options" [(ngModel)]="mySelectamphures" (ionChange)="selectedamphuresmethod(mySelectamphures)">
          <ion-select-option  *ngFor="let amphures of this.selectedamphures "
                              value="{{amphures.id}}"> {{amphures.name_th}} </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <label>เบอร์โทรศัพท์</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    </div>
    <input type="text" class="form-control" value="0951685495" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <label>กฏของร้าน</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    </div>
    <textarea class="form-control" value="กฏของร้าน"  aria-label="With textarea"></textarea>
  </div>

  <div class="centerbutton">
    <button type="button" (click)="presentAlertConfirm()" class="btn btn-success ">แก้ไขข้อมูลร้าน</button>
  </div>
  </div>
</ion-content>
