<ion-header>
  <ion-toolbar>
        <ion-buttons>
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary" >
          <ion-button color="secondary">
            Done
          </ion-button>
        </ion-buttons>
        <ion-title>ค้นหาขั้นสูง</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-range dualKnobs="true" [min]=timeMin [max]=timeMax step="3"
              [(ngModel)]="time" (ionChange)="setBadge(time)" ></ion-range>
  <div >
    <ion-item>
      <ion-text color="primary">{{this.timeMin2}} - </ion-text>
      <ion-text color="primary">{{this.timeMax2}}บาท</ion-text>
    </ion-item>
  </div>

  <ion-item>
    <ion-label>Select: province</ion-label>
    <ion-select class="custom-options" [(ngModel)]="mySelectprovince" (ionChange)="selectedprovincemethod(mySelectprovince)">
      <ion-select-option  *ngFor="let province of this.selectedprovince "
                          value="{{province.id}}"> {{province.name_th}} </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select: amphures</ion-label>
    <ion-select class="custom-options" [(ngModel)]="mySelectamphures" (ionChange)="selectedamphuresmethod(mySelectamphures)">
      <ion-select-option  *ngFor="let amphures of this.selectedamphures "
                          value="{{amphures.id}}"> {{amphures.name_th}} </ion-select-option>
    </ion-select>
  </ion-item>

<!--  <ion-item>-->
<!--    <ion-label>Time</ion-label>-->
<!--    <ion-datetime cancelText="cancel" doneText="done" displayFormat="DD : MMMM"></ion-datetime>-->
<!--  </ion-item>-->



</ion-content>


