<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">
<ion-header class="background" style="font-family: 'Sarabun', sans-serif;">
  <ion-toolbar class="background">
        <ion-buttons >
          <ion-back-button style="font-family: 'Sarabun', sans-serif;" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary" >
          <ion-button color="secondary" style="font-family: 'Sarabun', sans-serif;">
            Done
          </ion-button>
        </ion-buttons>
        <ion-title style="font-family: 'Sarabun', sans-serif;">ค้นหาขั้นสูง</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="background" style="font-family: 'Sarabun', sans-serif;">

  <div class="padding">

  <ion-range dualKnobs="true" [min]=timeMin [max]=timeMax step="3"
              [(ngModel)]="time" (ionChange)="setBadge(time)" ></ion-range>
  <div >
    <ion-item  class="background">
      <ion-text style="font-family: 'Sarabun', sans-serif;" color="primary">{{this.timeMin2}} - </ion-text>
      <ion-text style="font-family: 'Sarabun', sans-serif;" color="primary">{{ this.timeMax2}} บาท /ชั่วโมง</ion-text>
    </ion-item>
  </div>
    <br>

    <label>ที่อยู่</label>
    <br>
    <br>
    <ion-label>จังหวัด</ion-label>
    <ion-select class="custom-options" [(ngModel)]="mySelectprovince" (ionChange)="selectedprovincemethod(mySelectprovince)">
      <ion-item>
        <ion-select-option  *ngFor="let province of this.selectedprovince "
                            [value]="{value: province.id, name: province.name_th}"> {{province.name_th}} </ion-select-option>
      </ion-item>
    </ion-select>
    <ion-label>อำเภอ</ion-label>

    <ion-select class="custom-options" [(ngModel)]="mySelectamphures" (ionChange)="selectedamphuresmethod(mySelectamphures)">
      <ion-item>
        <ion-select-option  *ngFor="let amphures of this.selectedamphures "
                            [value]="{value: amphures.id, name: amphures.name_th}"> {{amphures.name_th}} </ion-select-option>
      </ion-item>
    </ion-select>
    <ion-label>ตำบล</ion-label>
    <ion-select class="custom-options" [(ngModel)]="mySelectdistricts" (ionChange)="selecteddistrictsmethod(mySelectdistricts)">
      <ion-item>
        <ion-select-option  *ngFor="let districts of this.selecteddistricts "
                            value="{{districts.name_th}}"> {{districts.name_th}} </ion-select-option>
      </ion-item>
    </ion-select>
  </div>


</ion-content>


