<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">

<ion-header class="background" >
  <ion-toolbar class="background">
    <ion-title style="font-family: 'Sarabun', sans-serif;">ข้อมูลการจอง</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="font-family: 'Sarabun', sans-serif;">
  <div class="form123">
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" (click)="goToshowChart()" ><ion-icon name="create-outline"></ion-icon> ดูสถิติการจอง</a>
    </div>

  </div>
</ion-content>

