<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<ion-header class="background" style="font-family: 'Sarabun', sans-serif;">
  <ion-toolbar class="background">
    <ion-buttons >
      <ion-back-button style="font-family: 'Sarabun', sans-serif;" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" >
      <ion-button color="secondary" (click)="presentAlertConfirm()" i style="font-family: 'Sarabun', sans-serif;">
        save
      </ion-button>
    </ion-buttons>
    <ion-title style="font-family: 'Sarabun', sans-serif;">เปลี่ยนรหัสผ่าน</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="background" style="font-family: 'Sarabun', sans-serif;">
  <div class="padding">

  <label>รหัสผ่านใหม่</label>
  <div class="input-group mb-3 background">
    <div class="input-group-prepend">
    </div>
    <input type="email" class="form-control"[(ngModel)] ="password" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <label>ยืนยันรหัสผ่าน</label>
  <div class="input-group mb-3 background">
    <div class="input-group-prepend">
    </div>
    <input type="email" class="form-control"[(ngModel)] ="passwordconfirm" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  </div>
</ion-content>
