<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">

<ion-header class="background" style="font-family: 'Sarabun', sans-serif;">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>เพิ่มร้าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" style="font-family: 'Sarabun', sans-serif;">

  <div class="ion-padding sizeimage centeredit" style="">
    <img src="assets/img/noimage.png" class="rounded" alt="...">
  </div>

  <div  class="centerbutton">
    <button type="button" (click)="selectImage()" class="btn btn-link"><ion-icon name="camera-outline"></ion-icon>เพิ่มรูปภาพ</button>
  </div>
  <div class="padding">

  <label>ชื่อร้าน</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    </div>
    <input type="text" class="form-control"[(ngModel)]="namestore" placeholder="ชื่อร้าน" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <label>ที่อยู่</label>
    <textarea class="form-control" [(ngModel)]="otheraddress" placeholder=""  aria-label="With textarea"></textarea>
    <br>
    <ion-label>จังหวัด</ion-label>
    <ion-select class="custom-options" [(ngModel)]="mySelectprovince" (ionChange)="selectedprovincemethod(mySelectprovince)">
      <ion-item>
        <ion-select-option  *ngFor="let province of this.selectedprovince "
                            [value]="{value: province.id, name: province.name_th}"> {{province.name_th}} </ion-select-option>
        </ion-item>
    </ion-select>
      <ion-label>อำเภอ</ion-label>

      <ion-select class="custom-options" [(ngModel)]="mySelectamphures" (ionChange)="selectedamphuresmethod(mySelectamphures)">
        <ion-item>
        <ion-select-option  *ngFor="let amphures of this.selectedamphures "
                            [value]="{value: amphures.id, name: amphures.name_th}"> {{amphures.name_th}} </ion-select-option>
        </ion-item>
      </ion-select>
      <ion-label>ตำบล</ion-label>
      <ion-select class="custom-options" [(ngModel)]="mySelectdistricts" (ionChange)="selecteddistrictsmethod(mySelectdistricts)">
        <ion-item>
        <ion-select-option  *ngFor="let districts of this.selecteddistricts "
                            value="{{districts.name_th}}"> {{districts.name_th}} </ion-select-option>
        </ion-item>
      </ion-select>

  <label>เบอร์โทรศัพท์</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    </div>
    <input type="text" class="form-control" [(ngModel)]="telephone" placeholder="เบอร์โทรศัพท์" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <label>กฏของร้าน</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    </div>
    <textarea class="form-control" [(ngModel)]="rulestore" placeholder="กฏของร้าน"  aria-label="With textarea"></textarea>
  </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">สถานะของสนาม</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="status_store">
        <option>เปิดให้บริการ</option>
        <option>ไม่เปิดให้บริการ</option>
      </select>
    </div>
  <div class="centerbutton">
    <button type="button" (click)="presentAlertConfirm()" class="btn btn-success ">เพิ่มสนาม</button>
  </div>

  </div>
</ion-content>
