#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* DOES NOT WORK - not specific enough */
ion-loading {
  color: green;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class {
  color: green;
}
ion-item {
  border-radius: 50px;
  height: 55px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
  --highlight-height: 0px;

  ion-input {
    font-size: 18px;
    --padding-top: 20px;
    --padding-bottom: 15px;
    --padding-start: 5px;
  }

  a {
    font-size: 17px;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
}
ion-toolbar {
  --background: #f5f5f3;

  ion-button {
    text-transform: initial;
    font-size: 17px;
  }
}

ion-content {
  --background: #f5f5f3;

  #header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 26px;
      color: #010100;
      margin-bottom: 15%;
    }

    img {
      width: 125px;
      height: 125px;
      border-radius: 50%;
      border: 4px solid #ffffff;
    }
  }
  .form123 {
    margin-top: 15%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .ion-button123 {
      margin-top: 35px;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
      border-radius: 50px;
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
      --box-shadow: none;
    }

}
