
<ion-header class="ion-no-border">
    <ion-toolbar>

        <ion-buttons slot="end">
            <ion-button [routerLink]="'/register'">Sign up</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content >
    <div id="header">
        <h1>Login</h1>
        <img src="assets/img/jongsanam-logo.png" />
    </div>

<!--    <ion-item >-->
<!--      <img style="text-align: center" src="assets/img/jongsanam-logo.png">-->
<!--    </ion-item>-->
    <div class="form123">


    <ion-item>
      <ion-input [(ngModel)] ="username" placeholder="ชื่อผู้ใช้" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input [(ngModel)] ="password" type="password" placeholder="รหัสผู้ใช้" ></ion-input>
    </ion-item>
    <br>
    <br>



    <ion-segment [(ngModel)]="valuedegree" (ionChange)="segmentChanged(valuedegree)">
      <ion-segment-button value="1">
        <ion-label>ลูกค้า</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>เจ้าของสนาม</ion-label>
      </ion-segment-button>
    </ion-segment>
    <br>
    <br>
    <ion-button  class="ion-button123" expand="block" color="secondary"(click)="login()">Login</ion-button>
    </div>

</ion-content>


