<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">
<ion-header class="ion-no-border" style="font-family: 'Sriracha', cursive;">
    <ion-toolbar>

        <ion-buttons slot="end">
            <ion-button style="font-family: 'Sriracha', cursive;" [routerLink]="'/register'">สมัครสมาชิก</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="font-family: 'Sarabun', sans-serif;">
    <div id="header">
        <h1>Login</h1>
        <img src="assets/img/jongsanam-logo.png" />
    </div>

<!--    <ion-item >-->
<!--      <img style="text-align: center" src="assets/img/jongsanam-logo.png">-->
<!--    </ion-item>-->
    <div class="form123">


    <ion-item>
      <ion-input style="font-family: 'Sarabun', sans-serif;" [(ngModel)] ="username" placeholder="ชื่อผู้ใช้" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input style="font-family: 'Sarabun', sans-serif;"[(ngModel)] ="password" type="password" placeholder="รหัสผู้ใช้" ></ion-input>
    </ion-item>
    <br>
    <br>



    <ion-segment [(ngModel)]="valuedegree" (ionChange)="segmentChanged(valuedegree)">
      <ion-segment-button value="customer">
        <ion-label style="font-family: 'Sarabun', sans-serif;">ลูกค้า</ion-label>
      </ion-segment-button>
      <ion-segment-button value="owner">
        <ion-label style="font-family: 'Sarabun', sans-serif;">เจ้าของสนาม</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-button style="font-family: 'Sarabun', sans-serif;" class="ion-button123" expand="block" color="secondary"(click)="login()">เข้าสู่ระบบ</ion-button>
    </div>

</ion-content>


