<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">

<ion-header class="ion-no-border" style="font-family: 'Sarabun', sans-serif;">
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!--</ion-content>-->
<ion-content style="font-family: 'Sarabun', sans-serif;">

    <div class="ion-padding sizeimage centeredit" style="">
      <img src="assets/img/jongsanam-logo.png" class="rounded" alt="...">
    </div>
    <div class="padding">
    <label>ชื่อ-สกุล</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
      </div>
      <input type="text" class="form-control"[(ngModel)] ="firstname" placeholder="ชื่อ" aria-label="Username" aria-describedby="basic-addon1">
      <input type="text" class="form-control" [(ngModel)] ="lastname" placeholder="นามสกุล" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <label>Username</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
      </div>
      <input type="text" class="form-control"[(ngModel)] ="username" placeholder="username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <label>รหัสผ่าน</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
      </div>
      <input type="password" class="form-control" [(ngModel)] ="password"placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <label>Email</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
      </div>
      <input type="email" class="form-control"[(ngModel)] ="email" placeholder="email" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <label>ที่อยู่</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
      </div>
      <input type="text" class="form-control" [(ngModel)] ="address" placeholder="ที่อยู่" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <label>เบอร์โทรศัพท์</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
      </div>
      <input type="" class="form-control"  [(ngModel)] ="telephone" placeholder="เบอร์โทรศัพท์" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <ion-button class="ion-button123" expand="block" color="secondary"(click)="register()" >สมัครสมาชิก</ion-button>
    </div>
</ion-content>
