<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<ion-header class="background" >
  <ion-toolbar class="background">
    <ion-title style="font-family: 'Sriracha', cursive;">ข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngFor="let data of dataAccount" style="font-family: 'Sriracha', cursive;">
  <div id="header">
    <img src="assets/img/default-avatar.png" />
  </div>

  <!--    <ion-item >-->
  <!--      <img style="text-align: center" src="assets/img/jongsanam-logo.png">-->
  <!--    </ion-item>-->
  <div class="form123">
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" (click)="goTosettingprofile()" ><ion-icon name="create-outline"></ion-icon> แก้ไขข้อมูลส่วนตัว</a>
      <a  *ngIf=" data.status_member == '2'"  class="list-group-item list-group-item-action" (click)="goTomanageStore()"><ion-icon name="file-tray-full-outline"></ion-icon> จัดการข้อมูลร้าน</a>
      <a class="list-group-item list-group-item-action"  ><ion-icon name="list-outline"></ion-icon> จัดการข้อมูลการจองสนาม</a>
      <a class="list-group-item list-group-item-action"  ><ion-icon name="warning-outline"></ion-icon> ติดต่อเรา</a>
      <ion-button  (click)="presentAlertConfirm()" color="danger"  style="height: 40px">ออกจากระบบ</ion-button>
    </div>

  </div>

</ion-content>

