

<ion-header class="background">
  <ion-toolbar class="background">
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="container" *ngFor="let data of dataAccount">
    <div class="r">
      <div class="col-md-3">
        <div class="">
          <div class="">
            <img src="assets/img/default-avatar.png">
          </div>
          <div>
            <div>
              ชื่อ :{{data.firstname_member}} {{data.lasname_member}}
            </div>
            <div>
              ที่อยู่ :{{data.address_member}}
            </div>
          </div>
          <br>
          <div class="underline">
              <li class="active">
                <a>
                  <ion-icon name="home-outline"></ion-icon>
                  Overview </a>
              </li>

              <li  (click)="goTosettingprofile()" >
                <a>
                  <ion-icon name="settings-outline"></ion-icon>
                    Account Settings </a>
              </li>

              <li *ngIf=" data.status_member == '2'" (click)="goTomanageStore()">
                <a>
                  <ion-icon name="business-outline"></ion-icon>
                  Manage Store </a>
              </li>

              <li>
                <a>
                  <ion-icon name="chatbubbles-outline"></ion-icon>
                  Help </a>
              </li>

          </div>
          <br>
          <div>
            <ion-button  (click)="presentAlertConfirm()" color="danger"  style="height: 40px">Logout</ion-button>
          </div>

        </div>
      </div>

      <div class="col-md-9">
        <div class="profile-content">
          Some user related content goes here...
        </div>
      </div>

    </div>
  </div>
  <br>
  <br>

</ion-content>



