

<ion-header>
  <ion-toolbar>
      <table style="width:120%">
          <tr>
              <td><h4 style="color: #0d0d0d;">JongSnam</h4></td>
              <td style="font-size:30px;">
                  <ion-icon class="iconhome"  style="margin: 0 20px;" (click)="Gosearch()" name="search-outline"></ion-icon>
                  <ion-icon  class="iconhome" style="margin: 0 -10px; color: #0d0d0d" (click)="notifications()" name="notifications-outline"></ion-icon>
              </td>
          </tr>
      </table>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="card">
        <p-dataView #dv [value]="getstore" [paginator]="true" [rows]="9" filterBy="name"
                    [sortField]="sortField" [sortOrder]="sortOrder" >
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">

                </div>
            </ng-template>
            <ng-template let-getstore pTemplate="listItem">
                <div class="p-col-12" (click)="clickstore(getstore.id_store)">
                    <div class="product-list-item">
                        <img src="data:image/png;base64,{{getstore.picture_store}}" [alt]="getstore.name_store"/>

                        <div class="product-list-detail">
                            <div class="product-name">{{getstore.name_store}}</div>
                            <div class="product-description">{{getstore.description}}</div>
                            <p-rating [ngModel]="getstore.rating" [readonly]="true" [cancel]="false"></p-rating>
                            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{getstore.category}}</span>
                        </div>
                        <div class="product-list-action">
<!--                            <span class="product-price">${{getstore.price}}</span>-->
                            <p-button icon="pi pi-shopping-cart" label="ดูรายละเอียด" (onClick)="clickstore(getstore.id_store)" [disabled]="getstore.inventoryStatus === 'OUTOFSTOCK'"></p-button>
<!--                            <span [class]="'product-badge status-' + getstore.inventoryStatus.toLowerCase()">{{getstore.inventoryStatus}}</span>-->
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>


</ion-content>

